/* Palette https://coolors.co/palette/ffbe0b-fb5607-ff006e-8338ec-3a86ff */
/* Main font Inter */
/* Secondary font, maybe for headings Geist Mono for fun typewriter look, or playfair for a news look */

:root {
    --primary-color: rgb(255, 190, 10);
    --secondary-color: #FB5607;
    --accent1-color: #8c003d;
    --accent2-color: #8338EC;
    --accent3-color: #840030;
}

body {
    max-width: 1024px;
    padding-left: 75px;
}

header {
    display: grid;
    grid-template-columns: 40% auto;
    justify-items: center;
    background-color: var(--accent3-color);
}

header img {
    padding: 15px;
    max-height: 8rem;
    justify-content: center;
    align-content: center;
}

nav {
    display: flex;
    grid-column-start: 2;
    justify-self: left;
    align-items: center;
    /* padding-right: 2rem; */
}

nav a {
    border: 1px solid black;
    width: 125px;
    height: 30px;
    text-decoration: none;
    color: var(--accent2-color);
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: white;
}

p {
    font-family: "Inter", sans-serif;
    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    font-style: normal;
    color: black;
}

h1 {
    font-family: "Geist Mono", monospace;
    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    font-style: normal;
    color: var(--accent2-color);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Geist Mono", monospace;
    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    font-style: normal;
    color: var(--accent1-color);
    text-align: center;
}

h2 {
    padding-top: 1rem;
    font-size: 2rem;
}

footer {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent3-color);
}

footer p {
    padding-left: 0rem;
    color: white;
    font-weight: bold;
}

.wireframe{
    color: white;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    text-align: center;
    padding-left: 1.2rem;
    line-height: 0%;
    vertical-align: middle;
}

.social_icons {
    justify-self: right;
    padding-right: 4rem;
}
footer a img {
    width: 2rem;
}

footer p {
    grid-column: 1/2;
    justify-self: center;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    text-align: center;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    color: #fff;
    text-shadow:
      3px 3px 0 black,
      -3px 3px 0 black,
      -3px -3px 0 black,
      3px -3px 0 black;
    font-size: 4rem;
}

.hero h3 {

    position: absolute;
    max-width: 40%;
    color: var(--accent1-color);
    font-size: 1.2rem;
    right: 80px;
    bottom: 20px;
}

.hero article {
    position: absolute;
    top: 50%;
    width: 80%;
    left: 10%;
    background-color: rgb(255, 190, 10, .9);
    max-height: 200px;
}

.hero article p {
    transform: translateY(50%);
    text-align: center;
    max-width: 70%;
    padding-left: 10px;
    color: #5a00d7;
}

.hero article img {
    max-width: 200px;
    position: relative;
    float: right;
    right: 25px;
    bottom: 80px;
}

.section {
    background-color: lightgray;
    padding-bottom: 2rem;
}

.section_no_color {
    margin-top: 2rem;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex p {
    max-width: 25rem;
}

.img_small {
    max-width: 150px;
}

.img_med {
    max-width: 300px;
}

.company_name {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--accent2-color);
}

.headquarters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: .8rem;
}

.address p{
    max-width: 400px;
    margin: 0;
    margin-bottom: .5rem;
}

iframe {
    width: 300px;
    height: 300px; 
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: rgb(244, 218, 255);
    border: solid 2px purple;
}

form p {
    align-self: flex-start;
    margin-left: 12%;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}

.column2 {
    grid-template-columns: 1fr 3fr 1fr 3fr;
    padding-bottom: 1rem;
}

.column3 {
    grid-template-columns: 1fr 11fr;
    padding-bottom: 1rem;
    justify-self: left;
}

.column4 {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3rem;
}

.row1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: end;
    justify-items: start;
}

.row2 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    justify-items: center;
}


.row2 button {
    /* margin: 0; */
    margin: 1rem .1rem 1rem 1rem;
    padding: .5rem;

}

fieldset {
    align-self: flex-start;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.newsletter {
    background-color: var(--accent3-color);
    color: white;
    font-weight: 550;
    font-size: 1.3rem;
}

.newsletter button {
    background-color: #9C29B7;
    color: white;
    margin-top: 2rem;
}

.newsletter p {
    color: white;
    font-size: 1.3rem;
    margin-left: 4rem;
    max-width: 400px;
    align-self: flex-start;
}

.newsletter h2 {
    color: white;
}

button {
    margin: 1rem;
    background-color: var(--secondary-color);
    color: black;
    font-size: 4rem;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    font-weight: bold;
    width: 200px;
}

button:hover {
    background-color: var(--accent1-color);
    color: #fff;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

input[type="email"] {
    width: 277.5px;
    border-radius: .3rem;
}

input[type="radio"] {
    margin-left: 250px;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1.1rem;
    background-color: #fff;
    border-radius: .3rem;
}

textarea {
    resize: none;
    width: 78%;
}

.side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 0 3rem;
}

.side-by-side-30-70 {
    display: grid;
    grid-template-columns: 3fr 7fr;
    margin: 3rem 0 3rem;
    justify-items: center;
}

.side-by-side-30-70 h2 {
    margin: 1rem 0 1rem;
    padding: 0;
}

.interweave {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.interweave p {
    margin: 0;
    max-width: 40%;
    min-width: 300px;
}

.interweave img {
    margin: 1rem 50px 1rem 50px;
    max-width: 450px;
}

.interweave-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 4rem;
}

.interweave-grid p {
    margin: 0;
    max-width: 90%;
    margin: 2rem 0 2rem;
}

.trips-cta {
    background-image: url("../images/rafting49_425px.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.trips-cta a {
    margin-top: 3rem;
    padding: .5rem .3rem .5rem .3rem;
    max-width: 225px;
    max-height: 3.5rem;
    background-color: #9C29B7;
    color: white;
    font-weight: 550;
    text-decoration: none;
    border: 1px solid var(--accent2-color);
    border-radius: 10px;
}

.contact-cta {
    background-image: url("../images/happy-group-600px.jpg");
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 400px;
    width: 300px;
}

.contact-cta a {
    margin-top: 2rem;
    padding: .3rem .2rem .3rem .2rem;
    max-width: 180px;
    max-height: 3.5rem;
    background-color: #9C29B7;
    color: white;
    font-weight: 550;
    text-decoration: none;
    border: 1px solid var(--accent2-color);
    border-radius: 10px;
}

table {
    border: 2px solid #9C29B7;
    margin: 0;
}

thead {
    background-color: #9C29B7;
    color: white;
}

th {
    padding: 0 10px 0 10px;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #ecddff;
}
